<!DOCTYPE html>
<html lang="es">
{{> head }}
<body>
    {{> navbar }}
    {{> jumbotron }}
    <div class="row">
      <div class="col-8">

      </div>
      <div class="col-4">
        <img src="assets/imgs/imagen-1.png" class="img-thubnail">

      </div>

    </div>
    {{> footer }}
    {{> scripts }}
</body>
</html>